#!/usr/bin/make -f

export DH_COMPAT=3

DIR=debian/twisted-web

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_installdebconf
	dh_installman rptwisted.8
	install -m 644 debian/ports debian/ssl-ports twisted-web \
	               ${DIR}/etc/twisted-web/
	install -m 755 debian/init.d ${DIR}/etc/init.d/twisted-web
	install -m 644 debian/default ${DIR}/etc/default/twisted-web
	install -m 644 debian/copyright README ${DIR}/usr/share/doc/twisted-web/
	install -m 644 examples/*.py ${DIR}/usr/share/doc/twisted-web/examples/
	chgrp www-data ${DIR}/var/log/twisted-web
	chmod 770 ${DIR}/var/log/twisted-web
	install -m 755 rptwisted ${DIR}/usr/sbin/
	touch ${DIR}/usr/share/twisted-web/package-installed
	touch install-stamp

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_installchangelogs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
