#!/usr/bin/make -f

export DH_COMPAT=3

DIR=debian/twisted-web

build: build-stamp
build-stamp:
	dh_testdir
	lore --null --inputext=.html --config ext=.xhtml
	lynx -force_html -dump -nolist README.xhtml > README 
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	rm -f README.xhtml README
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_installdebconf
	dh_installman man/rptwisted.8 man/twconfcheck.8
	install -m 644 config/ports config/user config/twisted-web \
	               config/default config/root config/site \
	               config/application config/directories \
	               ${DIR}/etc/twisted-web/
	install -m 755 debian/init.d ${DIR}/etc/init.d/twisted-web
	install -m 644 debian/default ${DIR}/etc/default/twisted-web
	install -m 644 debian/copyright README README.xhtml stylesheet.css \
	               ${DIR}/usr/share/doc/twisted-web/
	install -m 644 examples/*.py ${DIR}/usr/share/doc/twisted-web/examples/
	chgrp www-data ${DIR}/var/log/twisted-web
	install -m 644 debian/changelog ${DIR}/usr/share/doc/twisted-web/
	gzip -9 ${DIR}/usr/share/doc/twisted-web/changelog
	chmod 770 ${DIR}/var/log/twisted-web
	install -m 755 bin/rptwisted bin/twconfcheck ${DIR}/usr/sbin/
	touch ${DIR}/usr/share/twisted-web/package-installed
	touch install-stamp

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
